@model SandboxApp.Models.Photo

@{
    // @Model is the photo pbject passed into the view
}

<h1>
    My First Photo
</h1>

<p>
    ID: @Model.Id
</p>

<p>
    Title: @Model.Title
</p>

<p>
    Description: @Model.Description
</p>

<p>
    Filename: @Model.ImageFilename
</p>

<p>
    Create Date: @Model.CreatedDate
</p>
